body {
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.barrasuperior {
    width: 100%;
    height: 92px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.top {
    width: 414px;
    height: 92px;
    margin: 0 auto;
    padding-top: 10px;
}
.top h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 20px;
}
.top h2 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    margin-left: 20px;
}

.conteudo {
    width: 414px;
    height: 1000px; 
    margin: 0 auto;
}

.subtitulo1 {
    margin: 120px 0px 0px 20px;
    font-family: 'Righteous', cursive;
    font-size: 26px;
    font-weight: 400;
}
.subtitulos {
    margin: 0px 0px 0px 20px; 
    font-family: 'Righteous', cursive;
    font-size: 26px;
    font-weight: 400;
}

.categoria1, .categoria2, .categoria3 {
    width: 414px;
    height: 265px;
    overflow-x: scroll;
    margin-bottom: 20px;
}
.cardapio {
    margin-top: 15px;
    width: 600px;
    display: flex;
}

.opcao {
    width: 172px;
    height: 216px;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px #000000;
    background-color: #ffffff;
    margin-left: 20px;
    text-align: left;
    border: 4px solid #ffffff;
}
.opcao img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin: 15px 0px 0px 10px;
    object-fit: cover;
}
.opcao p:nth-child(2) { 
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    margin: 10px 0px 0px 10px;
    height: 18px;
}
.opcao p:nth-child(3) { 
    font-size: 15px;
    font-weight: 300;
    color: #a6a6a6;
    margin: 6px 0px 0px 10px;
    height: 32px;
}
.opcao p:nth-child(4) { 
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin: 6px 0px 0px 10px;
    height: 15px;
}

.borda {
    border: 4px solid #32B72F;
    transition-duration: .8s;
}
.checkicon { 
    font-size: 20px;
    margin: -12px 0px 0px 138px;
    opacity: 0;
}
.ativado {
    color: green;
    opacity: 1;
    transition-duration: .8s;
}

.barrainferior {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 92px;
    z-index: 2;
    background-color: #ffffff;
    padding-top: 15px;
}
.botaoconcluir {
    width: 364px;
    height: 61px;
    border-radius: 50px; 
    background-color: rgb(173, 173, 173); 
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 20px;
    padding-top: 20px;
    margin: 0 auto;
}
.botaoselecionado {
    background-color: #32B72F;
    transition-duration: .8s;
}
a {
    text-decoration: none;
    color: #ffffff;
}